body {
}

#ProjectsContainer {
    margin: 5%;
}

#PmManagerMenu {
    height: 550px;
    width: 200px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    margin-top: 160px;
}
